/*==========*/

body, html {
    background:rgba(255,168,0,0.23);
    font-family: "Oswald", sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    margin-top: 15px;
}

.navbar-brand {
    padding: 0px;
}
.navbar-brand>img {
    padding-left: 25px;
    height: 100%;
    width: auto;
}

.jumbotron {
    background-color: #f8f8f8;
}

.gif {
    margin-top: 20px;
    width: 90%;
    border: 2px solid;
}

span {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.header {
    background: #000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    color: #fff;
    font-size: 36px;
    padding: 20px 0;
    text-align: center;
    text-transform: uppercase;
}

.main {
    margin: 40px 0;
}

.row {
    background: #08364b;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
    height: 50px;
    margin: 8px auto;
    padding: 0;
    width: 100%;

    border: 1px solid rgb(8, 54, 74);
}

.row img {
    height: 50px;
    width: 50px;
}
.row p, .row span {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    margin: 0;
}

.col-xs-6 p {
    color: #fff;
    font-size: 20px;
}

.counters {
    text-align: center;
}

.counters span {
    background: #ffa800;
    font-size: 20px;
    width: 40px;
}

.counters span.count {
    background: #fff;
}

@media (max-width: 480px) {
    .col-xs-6 {
        width: 41%;
    }
    .col-xs-4 {
        width: 42%;
    }
}

/**
 * Start by hiding the checkboxes
 */
input[type=checkbox] {
    visibility: hidden;
}
/**
 * Checkbox Two
 */
.checkboxTwo {
    width: 120px;
    height: 40px;
    background: #333;
    margin: 20px 60px;

    border-radius: 50px;
    position: relative;
}
.checkboxTwo:before {
    content: '';
    position: absolute;
    top: 19px;
    left: 14px;
    height: 2px;
    width: 90px;
    background: #111;
}
/**
 * Create the circle to click
 */
.checkboxTwo label {
    display: block;
    width: 22px;
    height: 22px;
    border-radius: 50%;

    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #ddd;
}
/**
 * Create the click event for the checkbox
 */
.checkboxTwo input[type=checkbox]:checked + label {
    left: 84px;
    background: #26ca28;
}

@keyframes strike{
    0%   { width : 0; }
    20% { width: 40%; }
    40% { width: 80%; }
    60% { width: 120%; }
    80% { width: 160%; }
    100% { width: 200%; }
}
.strike {
    position: relative;
}
.strike:after {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background: black;
    animation-name: strike;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}