
<div class="container">

<div class="jumbotron">
<div class="container">
    <div class="row" ng-repeat="exercise in exercises">
        <div class="exercise-icon col-xs-2">
            <img ng-src="{{ exercise.icon }}"> </div>

        <div class="col-xs-6">
            <p class="exercise-name"> {{ exercise.name }}</p>
        </div>

        <div class="col-xs-4 counters">
            <span class="decrease" ng-click="decrease($index)">-</span>
            <span class="count">{{ exercise.count }}  </span>
            <span class="increase" ng-click="increase($index)">+</span>
        </div>
    </div>
</div>
<div class="container">
    <button style="vertical-align: middle" class="btn btn-default pull-right" ng-click="getReport()">Report</button>
</div>
</div>

</div>
