<div class="container">
    <div class="jumbotron">

        <h2 align="center" ng-if="newReport != undefined">Excellent Work</h2>
        <h2 align="center" ng-if="newReport == undefined">You didn't workout! Let's go and count it!</h2>

        <div class="container" ng-if="newReport != undefined">
            <div   class="col-sm-8">
                <div class="pull-left">
                    <div ng-repeat="rep in newReport | orderBy">
                        <h3><label>{{rep.name}}</label> - {{rep.count}}</h3>
                    </div>
                </div>
            </div>
            <div class="col-sm-4" align="center">
                <img class="gif" ng-src="img/200w.gif" >
            </div>
        </div>
    </div>
</div>
